---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Progect from '../components/CardProgect.astro';
import Footer from '../components/Footer.astro';
import TitleIndex from '../components/tittleIndex.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Contact from '../components/contact.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header id="header" />
		<TitleIndex />
		<main>
			<div class="section" id="SMi">
			<h2>Abaut Me</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempore aperiam, at reiciendis soluta cum ab porro natus amet hic quibusdam, rem labore aliquam iste voluptatum. Suscipit voluptatem repellendus tempora!</p>
			</div>
			<Progect />
			<div class="section">
			<Contact />
			</div>
		</main>
			<Footer />
	</body>
</html>

<style>
	.section{
		border-top: 3px solid #E95420;
		padding-top: 1.5em;
		padding-bottom: 2em;
		height: max-content;
	}
	h2{
		margin: 0 2rem;
	}
	#form{
		text-align: center;
		font-size: 2em;
	}
	#linkContact{
		border-top: 3px solid #E95420;
		margin: 4em auto 1.5em auto;
		font-size: 35px;
		text-align: center;
		height: max-content;
		width: 720px;
		max-width: calc(100% - 2em);
		padding: 1.5em 1em 2.5em 1em;
	}
</style>